* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

header {
	max-width: 1200px;
	min-height: 54px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0;
}

header .menu {
	position: absolute;
	right: 5%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

header .menu ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header .menu ul li {
	font-family: Roboto, Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background: transparent;
    border: none;
    color: #000000;
    padding: 20px 15px 17px 15px;
	text-align: center;
	overflow: visible;
	white-space: nowrap;
}

header .menu ul li a {
	text-decoration: none;
	color: #000000;
}

.image100percent {
	position: relative;
}

.image100percent img {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.balloons img {
	position: absolute;
	top: 15%;
	left: 10%;
	max-width: 20%;
	border-radius: 20%;
}

@keyframes backgroundColorPalette {
	0% { color: #DC143C; }
	25% { color: #60d394; }
	50% { color: #aaf683; }
	75% { color: #ffd97d; }
	100% { color: #ff9b85; }
}

.best {
	position: fixed;
	top: 30%;
	right: 20%;
	font-family: Pacifico, Roboto, Arial;
	font-size: 2.5rem;
	width: 35%;
	color: #DC143C;
	z-index: 1;
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@media screen and (max-width: 768px) {
	header {
		max-width: 100%;
	}

	header .menu ul li {
		font-size: 10px;
		padding: 22px 5px 17px 5px;
	}

	.best {
		right: 15%;
		width: 50%;
	}
}